<%- include('header') -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, atque quis pariatur porro voluptatem recusandae molestias, similique ad, odio est possimus praesentium facere non minus reiciendis amet cupiditate veniam. Sapiente.</p>

<%- include('footer') -%>